body {
    padding: 0px;
}

.button {
    margin-left: 200px;
    border-radius: 20px;

}

.img-hero {
    padding-top: 30px;
}

/* 
.hero {
    padding: 30px 0px;
} */

.lorem {
    /* max-width:50px ; */
}

.container {
    padding: 30px 20px;
    padding-left: 0px;
    padding-right: 0px;

    margin-top: 20px;
}

.hero-sec {
    background-color: #f2f2f2;
}


.ENJOY-img {
    padding-top: 20px;
    width: 400px;
    height: 400px;
    padding-right: 70px;
      animation: move 5s infinite alternate;

}
     @keyframes move {
            0% {
                transform: translateY(0);
            }
            25%
            {
 transform: translateY(20px);
            }
            50%{
 transform: translateY(0);
            }
            75%{
 transform: translateY(-20px);
            }
            100% {
                transform: translateY(0);
            }
        }



.hero {
    background-color: #f2f2f2;
}

.navbar-end {
    padding-left: 100px;
}

.btn-primary:hover {

    background-color: #e3c060;
    color: white;
    border: 1px;
    transform: translateY(-2px);


}




.btn-secondary {
    background-color: #80808040;
    color: black;
    border: 1px;
    border-radius: 10px;

    padding: 10px;
    10px;
}

.btn-secondary:hover {
    background-color: ;
    transform: translateY(-2px);
}

.btn-primary {
    background-color: #ffe08a;
    color: white;
    border: 1px;
    border-radius: 10px;

    padding: 10px;


}

.hero-buttons {
    display: flex;
    gap: 15px;

}

.fa-brands {
    padding-right: 5px;
}

.about {
    text-align: center;
    margin-top: 30px;
}

.sub-title {
    color: gray;
    font-size: 20px;
}

.Learn {
    display: flex;
    gap: 15px;
    padding-top: 20px;
    justify-content: center;
}

.LERN-MORE {
    /* font-family: ; */
    font-size: 30px;
    font-weight: 300;

}

.about-us {
    font-family: ;
    font-size: 30px;
    font-weight: 300;
    color: red;
    /* margin-top: 20px; */

}

.section-about {

    padding: 43px 20px;
}

.about-img {
    width: 650px;
    height: 548px;
}

.about-text {
    max-width: 350px;
}

.font {
    margin-top: 10px;
    font-weight: 500;
}

.book-with-no {

    border: 8px solid;
    border-color: gray;
    margin: 35px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.book-a-table-black {
    font-weight: bold;
    font-size: 30px;
    border: 10px;
}

.nom {
    font-weight: bold;
    color: red;
    font-size: 30px;
    padding: 15px;

}

.vedio-about {
    margin: 100px 25px 25px 25px;
    width: 300px;
}

.box-a {
    background-color: red;
    padding: 15px;
    color: white;
    height: 450px;
    max-width: 350px;
    border-radius: 5px;
    /* padding-top: 15px; */

}

h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.box {
    height: 450px;
    padding: 15px;
    max-width: 350px;
}

.boxs {

    display: flex;

    box-sizing: border-box;
    background-color: #f2f2f2;
    /* margin-right: 15px; */
    /* margin-left:15px ; */
    padding-top: 60px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.learn-box-a {
    background-color: #f2f2f25c;
    color: white;

    transform: translateY(-2px);
    /* margin-top: 20px; */
    padding: 10px;
    border-radius: 15px;
    text-align: center;

}

.s {
    margin-left: 8px;
}

.stats-sec {
    background-image: url(img/stats-bg.jpg);
    padding: 100px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
}


.stat-item .stat-number {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}


.stat-item .stat-description {
    font-size: 16px;
    font-weight: 600;
    color: #3f87f5;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.sub-title-stat {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.menu-types {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin: 20px;
    font-size: 25px;
    padding-top: 15px;
}

/* .sub-title-menu{
   
    color: gray;
    font-size: 20px;
;

} */
.dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    gap: 20px;

    max-width: 1000px;
    margin: auto;
    /* background-color: #ffffff8d; */

}

.dish-img {
    width: 200px;
    height: 200px;



}

.dish-item {

    padding: 20px;


}

.WHAT-ARE-THEY-SYING-ABOUT-US {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 15px;

}

.par-with-line {
    display: flex;
    justify-content: start;
    max-width: 650px;
}

.line {
    width: 5px;
    height: 100px;
    background-color: red;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 50px;

}

.par {
    padding-top: 50px;
}

.john-larson-par {
    background-color: #f2f2f2;
}

.par-with-line-with-pict {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.slida {
    background-image: url(img/events/event-1.png);
    width: 500px;
    height: 600px;

   
}

.slidb {
    background-image: url(img/events/event-2.png);
    width: 500px;
    height: 600px;
}

.slidc {
    background-image: url(img/events/event-3.png);
    width: 500px;
    height: 600px;
     background-size:cover ;
    background-repeat: no-repeat;
}

.slidd {
    background-image: url(img/events/event-4.png);
    width: 500px;
    height: 600px;
     background-size:cover ;
    background-repeat: no-repeat;
}
.slids{
    display: flex;
    flex-wrap: wrap;
    flex-grow:1 ;
    padding-bottom: 30px;
}
.slid{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom:40px ;
    
    
}
.CHEFS-TEXT{
    padding: 40px;
}
.img-chef{
    width: 350px;
    height: 400px;
}
.box-chef{
    width: 400px;
}
.chef-text{
    width: 350px;
    text-align: center;
}
.info{
    width: 150px;
    height: 50px;
    /* padding: 20px */
}

.the-form{
    display: flex;
    background-color: #f2f2f2;
    
}
.form-pict{
background-image:url(img/reservation.jpg) ;
min-height: 70vh;
}
.is-info{
    margin: 0px;
    padding: 30px;
    
}
